main{
    display: flex;
}
h1{
    color: brown;
    text-align: center;
}
 .abc{
    text-align: center;
}
section{
    flex-direction: column;
    margin:20px;
}
.catPhotos h2 {
    color: dodgerblue;
}
.catPhotos a:hover {
    color: red;
}

    
